body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-slate-300);
  background-color: var(--bg-page);
}

a,
button,
input,
select,
textarea {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, .h1,
h2, .h2 {
  font-weight: 700;
  color: var(--color-accent-light);
}

h1, .h1 {
  font-size: 40px;
}

h2, .h2 {
  font-size: 20px;
}
