.field {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.field__label {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-accent-light);
}

.field__input {
  height: var(--input-height);
  padding-inline: 16px;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-primary);
  background-color: var(--bg-card);
  border: var(--border);
  border-radius: var(--border-radius-small);

  &::placeholder {
    color: var(--text-primary);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
