.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.form__textarea,
.form__agreement,
.form__button {
  grid-column: 1 / -1;
}

.form__textarea .field__input {
  min-height: 90px;
  padding: 16px;
  resize: none;
}
